<app-header></app-header>
<!-- <div class="values container">
    <div class="row" style="align-items: center; justify-content: center; font-weight: bold; font-size:xx-large;">
        Weekly {{category}} STATISTICS
    </div>
    <hr>
  <div class="row" style="align-items: center; justify-content: center;">
    <div class="col-md-5">
      <label class="form-label">From Date</label>
      <input type="date" class="form-control" [(ngModel)]="fromDate" (ngModelChange)="validateDateRange()" placeholder="Select date" />
    </div>
    <div class="col-md-5">
      <label class="form-label">To Date</label>
      <input type="date" class="form-control" [(ngModel)]="toDate" (ngModelChange)="validateDateRange()" placeholder="Select date" />
    </div>
  </div>
  <div class="row" style="align-items: center; justify-content: center;">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary mt-md-4 mt-2" (click)="setFromAndToDateAndView()">
        <span *ngIf="!loading">View</span>
        <span *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i> 
          Loading...
        </span>
      </button>
    </div>
  </div>
</div> -->

<!-- <div class="values container">
    <div class="row" style="align-items: center; justify-content: center; font-weight: bold; font-size:xx-large;">
      Weekly {{category}} STATISTICS
    </div>
    <hr>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-10">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Select Week</mat-label>
          <mat-select [(ngModel)]="selectedWeek" (selectionChange)="onWeekChange()">
            <mat-option *ngFor="let week of weeks" [value]="week">
              {{ week }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-2">
        <button mat-raised-button color="primary" class="mt-md-4 mt-2" (click)="viewWeeklyStatistics()">
          <span *ngIf="!loading">View</span>
          <span *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner> 
            Loading...
          </span>
        </button>
      </div>
    </div>
  </div> -->

  <!-- <div class="values container">
    <div class="row" style="align-items: center; justify-content: center; font-weight: bold; font-size:xx-large;">
      Weekly {{category}} STATISTICS
    </div>
    <hr>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-10">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Select Week</mat-label>
          <mat-select [(ngModel)]="selectedWeek" (selectionChange)="onWeekChange()">
            <mat-optgroup *ngFor="let month of months" [label]="month.name">
              <mat-option *ngFor="let week of month.weeks" [value]="week">
                {{ week }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-2">
        <button mat-raised-button color="primary" class="mt-md-4 mt-2" (click)="viewWeeklyStatistics()">
          <span *ngIf="!loading">View</span>
          <span *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
            Loading...
          </span>
        </button>
      </div>
    </div>
  </div> -->

  <div class="values container">
    <div class="row" style="align-items: center; justify-content: center; font-weight: bold; font-size:xx-large;">
      Weekly {{category}} STATISTICS
    </div>
    <hr>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-10">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Select Week</mat-label>
          <mat-select [(ngModel)]="selectedWeek" (selectionChange)="onWeekChange()">
            <mat-optgroup *ngFor="let month of months" [label]="month.name">
              <mat-option *ngFor="let week of month.weeks" [value]="week.range">
                {{ week.label }} ({{ week.range }})
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-2">
        <button mat-raised-button color="primary" class="mt-md-4 mt-2" (click)="viewWeeklyStatistics()">
          <span *ngIf="!loading">View</span>
          <span *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
            Loading...
          </span>
        </button>
      </div>
    </div>
  </div>
  
  
  