<div class="main-body">
    <!-- <app-front-page></app-front-page> -->
    <div class="d-flex justify-content-center flex-wrap">
        <!-- <app-district-map [fromDate]="previousWeekWeeklyStartDate" [endDate]="previousWeekWeeklyendDate"></app-district-map> -->
        <app-district-map-dup></app-district-map-dup>
        <app-state-map-dup></app-state-map-dup>
        <app-subdivision-map-dup></app-subdivision-map-dup>
        <app-region-map-dup></app-region-map-dup>
        <app-country-map-dup></app-country-map-dup>
    </div>
</div>