<div class="background-effect">
  <app-header></app-header>

  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row">
          <div class="col">
            <label class="form-label"><b>Select Date</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="date" class="form-control" [(ngModel)]="filterDate" name="date" placeholder="Select date" (change)="onDateChange($event)" />
          </div>
        </div>
      </div>

      <!-- Range of rainfall -->
      <div class="col-md-5">
        <div class="row">
          <div class="col">
            <label class="form-label"><b>Enter Rainfall Range in CM</b></label>
          </div>
        </div>
        <div class="row w-75">
          <div class="col">
            <input type="number" class="form-control" [(ngModel)]="filterRainfall" (change)="validateRainfall()" name="rainfall" />
          </div>
        </div>
      </div>

      <div class="col-md-2 align-self-center">
        <button type="button" class="btn btn-primary mt-md-4 mt-2" (click)="filterData()">Submit</button>
      </div>
    </div>
  </div>

   
    <div class="col-6 col-md-8 col-lg-12 mt-5">
      <div class="significantRainfall-table overflow-x-auto px-3">
        <div class="d-flex justify-content-center">
          <h5 class="text-center p-2 font-weight-text">Significant Rainfall Data</h5>
          <div class="col-md-1 col-sm-6 mb-3">
            <!-- <button class="btn btn-primary" [disabled]="filteredItems.length === 0" (click)="exportAsXLSX()">Download</button> -->
            <button class="btn btn-primary" [disabled]="filteredItems.length === 0" (click)="exportAsDOCX()">Download</button>

          </div>
        </div>
        <div>
          <table class="table table-bordered border-dark rounded-3">
            <thead class="">
              <tr>
                <th>Met Subdivision</th>
                <th>District Name</th>
                <th>Station Name</th>
                <th (click)="sortData('rainFall')">Rainfall (cm)
                  <span *ngIf="sortDirection === 'asc' && sortKey === 'rainFall'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc' && sortKey === 'rainFall'">&#9660;</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredItems">
                <td>{{item.subdiv_name}}</td>
                <td>{{item.district_name}}</td>
                <td>{{item.station_name}}</td>
                <td>{{ (item.data).toFixed(1)  }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
</div>